<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Excel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Excel.Properties.Settings>
            <setting name="DataExportFolder" serializeAs="String">
                <value>C:\Users\Zhenja\Documents\USBTerminal\Config\</value>
            </setting>
            <setting name="ExportFilePrefix" serializeAs="String">
                <value>usbt2</value>
            </setting>
        </Excel.Properties.Settings>
    </userSettings>
</configuration>