/ARMDevice/bin/Debug
/ARMDevice/bin
/ARMDevice/obj
/Excel/bin
/Excel/obj
/Infrastructure/bin
/Infrastructure/obj
/Infrastructure/obj/Debug
/TestModule/bin
/TestModule/obj
/TestModule/obj/Debug
/USBTetminal2/bin
/USBTetminal2/obj
/packages
